@import url('https://fonts.googleapis.com/css?family=Roboto');
$mytype: 'Roboto', sans-serif;
$brandcolor: #24A2EC;

body {
    background-color: pink;
    font-family: $mytype; 
}
    
@mixin cordaletra {
    color: $brandcolor;
    text-decoration: underline;
    font-size: italic;
    }

a {
    @include cordaletra;  
}

    
h2 {
    @include cordaletra;
    
}